/* body */

body {  

  margin: 10px 0;  
  font-family: sans-serif;
  background-color: #cadffa;
  min-width: 280px;

}

/* navbar */

#navbar{
    
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
  background-color: #32527b;
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;

}

#navbar:hover{
  box-shadow: 0 0 4px 4px inset #5f94da;
}

/* heading */

#heading{

  font-size: 2rem;  
  color: lightcyan;
  font-weight: bold;
  margin-left: 5px;
  margin-right: auto;
  text-shadow: 0 0 4px lightskyblue;

}

/* cart icon */

#cart-icon{

  height: 35px;
  width: 35px;
  color: rgb(188, 228, 253);
  transition: color 0.3s ease-in-out;

}

#cart-icon:hover{
  color: lightskyblue;
}

/* item count */

#item-count{

  cursor: context-menu;
  height: 30px;
  width: 30px;  
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  font-weight: bold;
  border: 2px outset white;
  border-radius: 50%;
  transition:  color 0.3s ease-in-out;

}

#item-count:hover{

  text-shadow: 0 0 4px black;
  color: lightskyblue;

}

/* cart */

#cart{

  overflow: auto;
  height: 78.8vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-image: linear-gradient(to top right, lightgrey, #5885be, lightgrey);

}

/* cart item */

.cart-item{
   
  max-height: 130px;
  width: 250px; 
  margin: 20px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
  align-items: center;
  border-radius: 5px;  
  box-shadow: 0 0 4px 4px  lightgrey;
  background-color:whitesmoke;
  transition: box-shadow 0.3s ease-in-out;

}

.cart-item:hover{
  box-shadow: 0 0 4px 4px rgb(131, 130, 130);
}

/* cart item image container */

.cart-item-img-container{

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 120px;      

}

.cart-item-img-container img{

  height: 110px;
  width: 110px;
  box-shadow: 0 0 2px 2px grey;
  border-radius: 10px;  

}

/* cart item main content and options container */

.cart-item-main-content-options-container{

  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(236, 234, 234);    
  box-shadow: 0 0 2px 2px inset lightgrey;
  border-radius: 5px;

}

/* cart item heading */

.cart-item-heading{

  color: rgb(25, 43, 43);
  font-size: 1.1rem;
  margin-bottom: 2px;
  font-weight: bold;

}

/* cart item description */

.cart-item-description{  

  color: darkslategray;
  margin-left: 2px;
  font-size: 0.8rem;

}

/* cart item price */

.cart-item-price{

  color: rgb(25, 43, 43);
  margin: 1px 0;
  margin-left: 2px;
  font-size: 1rem;

}

/* price */

.price{
  font-weight: bold;
}

/* cart item quantity */

.cart-item-quantity{

  color: rgb(25, 43, 43);
  margin-left: 2px;
  font-size: 0.9rem;

}

/* quantity */

.quantity{
  font-weight: bold;
}

/* cart item options container */

.cart-item-options-container{

  display: flex;
  flex-direction: row;
  justify-content: space-between;  

}

/* cart item options */

.cart-item-options{

  cursor: pointer;
  color: grey;
  margin: 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  transition: box-shadow 0.3s ease-in-out, color 0.3s ease-in-out;

}

.cart-item-options:hover{

  color: darkslategrey;
  box-shadow: 0 0 2px 2px inset rgb(160, 160, 160);

}

/* footer */

#footer{

  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.2rem;
  color: whitesmoke;  
  background-color: #616575;
  transition: box-shadow 0.3s ease-in-out;

}

#footer:hover{
  box-shadow: 0 0 4px 4px inset lightgrey;
}

/* bill icon */

#bill-icon{

  height: 35px;
  width: 35px;
  margin: 0 5px;
  transition: color 0.3s ease-in-out;

}

#bill-icon:hover{
  color: skyblue;
}

/* total */

#total{

  cursor: context-menu;
  color: white;
  font-weight: bold;
  margin: 5px 10px 5px 5px;
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;

}

#total:hover{

  text-shadow: 0 0 4px black;
  color: skyblue;

}

/* scrollbar */

::-webkit-scrollbar{

  height: 10px;
  width: 10px;

}

::-webkit-scrollbar-track{
  background-color: lightgrey;
}

::-webkit-scrollbar-thumb{
  background-color: grey;
}

::-webkit-scrollbar-thumb:hover{
  background-color: rgb(63, 62, 62);
}